.cards{
    margin-top: 4.5rem;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1.125rem;
    .card{
        width: 238px;
        height: 224px;
        background: $white;
        border-radius: 10px;
        position: relative;
        .header{
            padding: 0.3rem 0.3rem;
            width: 237px;
            height: 139px;
            border-radius: 10px;
            object-fit: cover;
        }
        .user{
            margin-top: -2rem;
            margin-left: 0.7rem;
            height: 44px;
            width: 44px;
            border-radius: 100%
        }
        .svg-container{
            @extend .flex-ac-jc;
            position: absolute;
            top: 0.75rem;
            right: 0.75rem;
            background: $grey-2;
            height: 35px;
            width: 35px;
            border-radius: 10px;
            &.active{
                background: $white;
                svg path{
                    fill: $red
                }
            }
        }
        h2{
            font-size: 1rem;
            text-transform: capitalize;
        }
        h3{
            font-size: 0.8rem;
            color: $grey-49;
            font-weight: 400;
            margin-top: 0.05rem;
        }
        button{
            font-size: 0.7rem;
            color: $blue;
        }
        &--footer{
            @extend .flex-ac-jb;
            padding: 0.5rem 0.7rem;
        }
    }
}